.clear-float {
  clear: both;
}

a {
  text-decoration: none;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: black;
}

.inputError,
.error-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: block;
  margin-bottom: 5px;
  padding: 8px 5px;
  text-align: center;
  border-radius: 1px;
  font-weight: 500;
  font-size: 15px;
}

.success-alert {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: block;
  margin-bottom: 5px;
  padding: 8px 5px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  padding: 8px 11px;
}

.btn:hover {
  opacity: 0.9;
}

label {
  margin-bottom: 5px;
  font-size: 15px;
  display: block;
  font-weight: 600;
  color: #3b3b3b;
}

.input-wrapper {
  padding: 5px;
  margin-bottom: 10px;
}

.input,
input {
  border: none;
  border: 1px solid #eee;
  border-radius: 3px;
  padding-left: 5px;
  height: 40px;
  width: 99%;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.textarea,
textarea {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 1%;
  width: 98%;
  resize: none;
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.form {
  width: 80%;
  margin: 10px auto;
  padding: 80px 4% 100px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: white;
}

.submitbtn {
  width: 100%;
  background: #7f70b4;
  font-size: 17px;
}

.formTitle {
  padding: 0 5px;
  font-size: 20px;
  font-weight: 600;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.shadow {
  box-shadow: 0 1px 2px 0 #ccc;
}

body {
  font-family: -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  background: #f9f9f9;
}
